.mainDiv{
  height: 100%;
}
.qureeyForm {
  padding-left: 2%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.tags {
  font-size: 0.9vmax;
  font-family: "Aguafina";
  transform: rotate(0deg) skew(-36deg);
  color: #7c7b7b;
  cursor: default;
  margin-top: 0.5vmax;
  margin-bottom: 0;
}
.marg1 {
  margin-left: 1%;
}
.marg2 {
  margin-left: 2%;
}
.marg3 {
  margin-left: 3%;
}
.marg4 {
  margin-left: 4%;
}

.introText {
  font-size: 7vmax;
  color: #fff;
  font-weight: bold;
  margin: 0;
}
.flex {
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}
.medium {
  font-size: 3.5vmax !important;
}

.space {
  padding-right: 1%;
}

.introText:hover {
  color: #e20fbf;
  animation: shake 1s ease-in-out 1;
  cursor: none;
}

@keyframes shake {
  0% {
    transform: scale(1, 1);
    transform: translate(0, -10px);
  }
  10% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  25% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-20deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  55% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-20deg);
  }
  65% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-20deg);
  }
  85% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(20deg);
  }
  95% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(0, 0);
  }
}

.myIntro {
  margin-left: 5%;
  color: #fff;
}

.pop:hover {
  animation: popup 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes popup {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.contactBox {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.contactForm {
  width: 50%;
}
.inputFeilds {
  display: flex;
  width: 100%;
  color: #fff;
  padding: 5px;
  flex-direction: column;
}
.projectDetailsText {
  padding: 10px;
}
.inputFeilds > label:hover {
  color: rgb(96, 240, 0);
  font-weight: 600;
}
.inputbutton {
  background-color: rgb(0 0 0);
  width: 30%;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.5vmax;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px #484848;
}
.input {
  width: 100%;
  padding: 1vmax;
  border-radius: 5px;
}
.message {
  width: 100%;
  height: 10vmax;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .contactForm {
    width: 90%;
  } 
  .message {
    height: 15vmax;
  }
}


@media screen and (max-width: 900px) {
  .contactForm {
    width: 70%;
  } 
  .message {
    height: 15vmax;
  }
  .medium {
    font-size: 5vmax !important;
  }
  .tags {
    font-size: 1.5vmax;
  }
}
