@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

.mainDiv{
  height: 100%;
}
.homeContainer {
margin-top:-2%;
height: 100%;

}

.marg1 {
  margin-left: 1%;
}
.marg2 {
  margin-left: 2%;
}
.marg3 {
  margin-left: 3%;
}
.marg4 {
  margin-left: 4%;
}

.navButton {
  display: flex;
  padding: 1%;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5vmax;
}
.navlink{
    padding:0  1vmax;
    color: #b8b8b8;
}
.navlink:hover{
 font-weight: 700;
 color: #fff
}

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: #0e0e0e
}

.sectionIntro {
  padding-left: 2%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.medium {
  font-size: 3.5rem !important;
}
.small {
  font-size: 4vmax;
}
.tags {
  font-size: 0.9vmax;
  font-family: "Aguafina";
  transform: rotate(0deg) skew(-36deg);
  /* transition: all 0.2s ease-out; */
  color: #2a70b9;
  cursor: default;
  margin-top: 0.5vmax;
  margin-bottom: 0;

}

.intro {
  font-family: Dosis;
  padding-left: 6%;
  overflow: hidden;
  cursor: default;
  width: 100%;
  margin: -2% 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}

.space {
  padding-right: 2%;
}

.textWhite {
  padding: 2vmax 6%;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  /* font-weight: 600; */
  font-size: 4vamx;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 50vmax;
  }
  100% {
    background-position: 100vmax;
  }
}



.introText {
  font-size: 7vmax;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.introText:hover {
  color: #80ff00;
  animation: anime 1s ease-in-out 1;
  cursor: none;
}

@keyframes anime {
  0% {
    transform: scale(1.1, 0.5);
  }
  16% {
    transform: scale(1.2, 0.7);
  }
  25% {
    transform: scale(1.1, 0.9);
  }
  32% {
    transform: scale(0.8, 1.1);
  }
  48% {
    transform: scale(0.95, 1);
  }
  64% {
    transform: scale(0.8, 1.2);
  }
  80% {
    transform: scale(1.15, 1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    /* This will add the shaking effect one time almost at the end   */
    transform: scale(0.8, 1);
  }
  95% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}


@media screen and (max-width: 900px) {
  .navButton {
    font-size: 2vmax;
  } 
  .introText {
    font-size: 6vmax;
  }
  .medium {
    font-size: 5vmax !important;
  }
}