@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

.homeContainer {
margin-top:-2%;
}

.marg1 {
  margin-left: 1%;
}
.marg2 {
  margin-left: 2%;
}
.marg3 {
  margin-left: 3%;
}
.marg4 {
  margin-left: 4%;
}
.title {
  padding-top: 1.5%;
  padding-left: 1.5%;
  font-size: 2em;
  /* transform: rotate(-5deg); */
  /* text-shadow: 4px 3px #111ed4; */
}
.navButton {
  display: flex;
  padding: 1%;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5vmax;
}
.navlink{
    padding:0  1vmax;
    color: #b8b8b8;
}
.navlink:hover{
 font-weight: 700;
 color: #fff
}

.menu {
  display: flex;
  justify-content: flex-end;
  background-color: #0e0e0e
}

.sectionIntro {
  padding-left: 2%;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.medium {
  font-size: 3.5rem !important;
}
.small {
  font-size: 2rem;
}
.tags {
  font-size: 0.9vmax;
  font-family: "Aguafina";
  transform: rotate(0deg) skew(-36deg);
  /* transition: all 0.2s ease-out; */
  color: #2a70b9;
  cursor: default;
  margin-top: 0.5vmax;
  margin-bottom: 0;

}

.intro {
  font-family: Dosis;
  padding-left: 6%;
  overflow: hidden;
  cursor: default;
  width: 100%;
  margin: -2% 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
}

.space {
  padding-right: 2%;
}

.textWhite {
  padding: 2vmax 6%;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  /* font-weight: 600; */
  font-size: 4vamx;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 50vmax;
  }
  100% {
    background-position: 100vmax;
  }
}

.sectionSkill {
  padding-left: 2%;
  height: 93.5vh;
  width: 98%;
  /* background: #af5f5f; */
  color: rgb(87, 82, 82);
  overflow: hidden;
  /* background-image:url("../images/c.jpg"); */
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skillBox {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  line-height: 3rem;
  justify-content: space-evenly;
}
.skillBar {
  background-color: #615f5c;
  height: 3px;
  width: 80%;
}

.skillHTML {
  height: 3px;
  background-color: #f07808;
  transition: linear 0.8s;
  width: 80%;
}

.skillCSS {
  height: 3px;
  background-color: #089ff0;
  transition: linear 0.8s;
  width: 80%;
}
.skillJS {
  height: 3px;
  background-color: #e6ff00;
  transition: linear 0.8s;
  width: 60%;
}
.skillNode {
  height: 3px;
  background-color: #1ce401;
  transition: linear 0.8s;
  width: 30%;
}
.skillReact {
  height: 3px;
  background-color: #00f7ff;
  transition: linear 0.8s;
  width: 50%;
}
.skillSQL {
  height: 3px;
  background-color: #1f08f0;
  transition: linear 0.8s;
  width: 40%;
}

.sectionWork {
  padding-left: 2%;
  height: 93.5vh;
  width: 98%;
  /* background: #af5f5f; */
  color: rgb(87, 82, 82);
  overflow: hidden;
  /* background-image:url("../images/c.jpg"); */
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.workContainer {
  display: flex;
  width: 100%;
  height: 78%;
  /* grid-template-columns: repeat(4, 2fr); */
  gap: 5px;
  padding-left: 5%;
  padding-right: 5%;
}
.workImages {
  height: 100%;
  width: 90%;
  /* background-color:rgb(209, 148, 35) */
}
.img-responsive {
  width: 100%;
  height: 95%;
}

.sectionContact {
  padding-left: 2%;
  height: 93.5vh;
  width: 98%;
  /* background: #af5f5f; */
  color: rgb(87, 82, 82);
  overflow: hidden;
  /* background-image:url("../images/c.jpg"); */
  background-color: #0e0e0e;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.introText {
  font-size: 7vmax;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

.introText:hover {
  color: #80ff00;
  animation: anime 1s ease-in-out 1;
  cursor: none;
}

@keyframes anime {
  0% {
    transform: scale(1.1, 0.5);
  }
  16% {
    transform: scale(1.2, 0.7);
  }
  25% {
    transform: scale(1.1, 0.9);
  }
  32% {
    transform: scale(0.8, 1.1);
  }
  48% {
    transform: scale(0.95, 1);
  }
  64% {
    transform: scale(0.8, 1.2);
  }
  80% {
    transform: scale(1.15, 1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    /* This will add the shaking effect one time almost at the end   */
    transform: scale(0.8, 1);
  }
  95% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.headingText {
  font-size: 4rem;
  color: #fff;
}

.headingText:hover {
  color: #e20fbf;
  animation: ani 0.7s ease-in-out 0.5;
}

@keyframes ani {
  0% {
    transform: scale(1.2, 0.5);
  }
  16% {
    transform: scale(1.2, 0.5);
  }
  25% {
    transform: scale(1.2, 0.5);
  }
  32% {
    transform: scale(0.8, 1.1);
  }
  48% {
    transform: scale(0.95, 1);
  }
  64% {
    transform: scale(0.8, 1.2);
  }
  80% {
    transform: scale(1.15, 1);
  }
  87% {
    transform: scale(1.15, 1);
  }
  90% {
    /* This will add the shaking effect one time almost at the end   */
    transform: scale(0.8, 1);
  }
  95% {
    transform: scale(1.05, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
